[submodule "tools/libtomcrypt"]
	path = tools/libtomcrypt
	url = ../libtomcrypt.git
	branch = twizzler
[submodule "tools/libtomcrypt-kernel"]
	path = tools/libtomcrypt-kernel
	url = ../libtomcrypt.git
	branch = twizzler
[submodule "tools/libtommath-kernel"]
	path = tools/libtommath-kernel
	url = ../libtommath.git
	branch = twizzler
[submodule "tools/libtommath"]
	path = tools/libtommath
	url = ../libtommath.git
	branch = twizzler
[submodule "src/lib/musl"]
	path = src/lib/musl
	url = ../musl-twizzler.git
	branch = twizzler
[submodule "tools/llvm-project"]
	path = tools/llvm-project
	url = ../llvm-project.git
	branch = twizzler
[submodule "tools/rust"]
	path = tools/rust
	url = ../rust.git
	branch = twizzler
